#Sessionsh1{
    text-align: center;
    font-size: 58px;
    margin: 5px;
    margin-left: 10px;
}

#Sessionsh2{
    text-align: center;
    margin: auto;
    font-size: 40px;
    padding: 5px;
    background-color: #ABBAEA;
}

#Sessionsh3{
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding: 5px;
    background-color: #ABBAEA;
}

#SessionsBox{
    margin: 10px;
    margin-top: 20px;
    align-items: center;
    display: inline;
    flex: auto;
    /*background-color: aqua;*/
    background-color: black;
    border: 2px solid rgb(136, 1, 113);
    max-width: 40vw;
}

#Sessionstext1{
    font-size: 16px;
    background-color: #ABBAEA;
    height: 40px;
    width: 100px;
    margin: 2px;
    border: 2px solid rgb(136, 1, 113);
    borderBottomLeftRadius: 30px;
    borderBottomRightRadius: 30px;
      
}

#Sessionstext2{
    font-size: 16px;
    height: 40px;
    width: 100px;
    margin: 2px;
}

#SessionsBox1{
    margin:'10px';
    align-items: baseline;
    
}